.jumbotron {
  background-color: #ffc107;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding: 10px, 10px, 0px, 10px;
  background-color: #ffc107;
  margin-top: 10px;
  margin-bottom: 0px; }

.item-hotel {
  flex: 1 200px;
  padding: 2px, 0px, 2px, 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserver {
  width: 100%;
  border-radius: 0px; }

.btn-iconic {
  padding-right: 10px;
  padding: 0px, 10px, 0px, 0px; }

.footer-addres-icon {
  padding: 0px, 10px, 0px, 0px; }

.tab-content {
  padding: 10px, 0px, 0px, 0px; }

.btn-pregunta {
  background-color: #ea4335;
  color: white; }

.btn-primary {
  background-color: #34a853; }
