$yellow: #ffc107;
$red : #ea4335;
$green: #34a853;

@mixin margenes($top, $bottom)
{
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin relleno($top,$right,$bottom,$left)
{
	padding:$top,$right,$bottom,$left;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(10px, 0px);
}
footer{
	@include relleno(10px,10px,0px,10px);
	background-color: $yellow;
	@include margenes(10px, 0px);
}
.item-hotel{
	flex: 1 200px;
	@include relleno(2px,0px,2px,0px);
	@include margenes(10px, 0px);
}
.btn-reserver{
	width: 100%;
	border-radius: 0px;
}
.btn-iconic
{
	padding-right: 10px;
	@include relleno(0px,10px,0px,0px);
}
.footer-addres-icon{
	@include relleno(0px,10px,0px,0px);
}
.tab-content{
	@include relleno(10px,0px,0px,0px);
}
.btn-pregunta{
	background-color: $red; 
	color: white;
}
.btn-primary{
	background-color: $green;
}